.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  position: sticky;
  top: 52px;
  height: calc(100vh - 52px);
}

.main {
  flex: 1;
  padding: var(--space-xl);
  background: var(--color-background);
}

section {
  scroll-margin-top: 70px;
  margin-bottom: var(--space-2xl);
  min-height: 60vh;
}
